# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/sonar/.sonar_lock
/target/sonar/ucfg2/js/_Users_aurelien_poscia_IdeaProjects_test_scanner_maven_src_main_java_com_sonar_testscannermaven_g1_js.ucfgs
/target/sonar/ucfg2/java/all.typedefs
/target/classes/application.properties
/target/sonar/ir/java/collected.typedefs
/target/surefire-reports/com.sonar.testscannermaven.TestScannerMavenApplicationTests.txt
/.idea/compiler.xml
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/sonar/ir/java/ir_0.ir
/target/sonar/ir/java/ir_0.metadata
/target/sonar/ir/java/ir_1.ir
/target/sonar/ir/java/ir_1.metadata
/target/sonar/ir/java/ir_2.ir
/target/sonar/ir/java/ir_2.metadata
/target/sonar/ir/java/ir_3.ir
/target/sonar/ir/java/ir_3.metadata
/target/sonar/ir/java/ir_4.ir
/target/sonar/ir/java/ir_4.metadata
/target/sonar/ir/java/ir_5.ir
/target/sonar/ir/java/ir_5.metadata
/target/sonar/ir/java/ir_6.ir
/target/sonar/ir/java/ir_6.metadata
/target/sonar/ir/java/ir_7.ir
/target/sonar/ir/java/ir_7.metadata
/target/sonar/ir/java/ir_8.ir
/target/sonar/ir/java/ir_8.metadata
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_10.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_10.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_13_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_13_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_13_1.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_6_0.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_11_22.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_11_22.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_8.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_4_8.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_17_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_17_1.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_58.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_58.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_58.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_21_0.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/.idea/libraries/Maven__org_mockito_mockito_core_4_0_0.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_4_0_0.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_36.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
/.idea/libraries/Maven__org_sonarsource_api_plugin_sonar_plugin_api_9_6_1_114.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_6_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_6_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_6_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_6_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_6_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_6_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_6_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_6_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_6_4.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_6_4.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_16.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_16.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_16.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_16.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_16.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_16.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_3_16.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_16.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_16.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_8_4.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_29.xml
/.idea/misc.xml
/.idea/modules.xml
/target/maven-archiver/pom.properties
/target/sonar/report-task.txt
/target/surefire-reports/TEST-com.sonar.testscannermaven.TestScannerMavenApplicationTests.xml
/target/test-scanner-maven-0.0.1-SNAPSHOT.jar.original
/target/sonar/ucfg2/java/ucfg_0.proto
/target/sonar/ucfg2/java/ucfg_1.proto
/target/sonar/ucfg2/java/ucfg_2.proto
/target/sonar/ucfg2/java/ucfg_3.proto
/target/sonar/ucfg2/java/ucfg_4.proto
/target/sonar/ucfg2/java/ucfg_5.proto
/target/sonar/ucfg2/java/ucfg_6.proto
/target/sonar/ucfg2/java/ucfg_7.proto
/target/sonar/ucfg2/java/ucfg_8.proto
/.idea/workspace.xml
